.btn {
  --add-button-color: rgb(75, 226, 75);
  --add-button-color-hover: #ad9a1c;
  --add-button-color-active: #83730b;

  --remove-button-color: tomato;
  --remove-button-color-hover: rgb(209, 83, 61);
  --remove-button-color-active: rgb(189, 83, 61);

  --checkout-button-color: rgb(41, 141, 41);
  --checkout-button-color-hover: rgb(41, 121, 41);
  --checkout-button-color-active: rgb(41, 101, 41);

  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  text-align: center;
  border: 0;
  outline: none;
  border-radius: 10px;
  width: 120px;
  margin-left: 10px;
  box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.7);

  &:active {
    transform: scale(0.98);
  }

  &.add {
    background-color: var(--add-button-color);

    &:hover {
      background-color: var(--add-button-color-hover);
    }

    &:active {
      background-color: var(-add-button-color-active);
    }
  }

  &.remove {
    background-color: var(--remove-button-color);

    &:hover {
      background-color: var(--remove-button-color-hover);
    }

    &:active {
      background-color: var(--remove-button-color-active);
    }
  }

  &.checkout {
    background-color: var(--checkout-button-color);
    width: 150px;
    color: #fff;
    font-size: 14px;

    &:hover {
      background-color: var(--checkout-button-color-hover);
    }

    &:active {
      background-color: var(--checkout-button-color-active);
    }
  }
}
