.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.custom-main-button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.custom-main-button:hover,
.custom-main-button:focus {
  color: #313133;
}

.custom-main-button:active {
  box-shadow: none;
}

.custom-main-button:hover::before,
.custom-main-button:focus::before {
  opacity: 1;
}

.custom-main-button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-main-button:hover::after,
.custom-main-button:focus::after {
  animation: none;
  display: none;
}
